@{
    Layout = "_Layout";
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a asp-controller="Mail" asp-action="Inbox">Inbox</a></li>
            <li><a href="/Home/Privacy">Privacy</a></li>
            <!-- Otros elementos del menú -->
        </ul>
    </nav>
}
